@import './variables';
@import 'order';

a:hover {
  cursor: pointer;
}

html,
main {
  color: $color-primary-light;
  font-family: $font-primary;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $beige;
}

:root {
  line-height: 24px;
  color-scheme: unset;
  color: unset;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: $color-primary-light;
  text-decoration: inherit;
}

a:hover {
  color: $color-primary-light;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 2;
}

.sort-btns-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

#pastryContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
  gap: 3rem;
  padding-bottom: 2rem;
}

#pastryContainer>article {
  border: 2px solid $color-primary;
  border-radius: 5px;
  padding: 20px;
}

#pastryContainer>article>img {
  width: 38vh;
  height: auto;
}

#pastryContainer>article>h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}


.divider {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.divider::before,
.divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: $color-primary;
  margin: 10px;
}

.order-form {
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
}