@import './variables';
@import 'order';

a:hover {
  cursor: pointer;
}

html,
main {
  color: $color-primary-light;
  font-family: $font-primary;
  width: 100vw;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: $beige;
}

:root {
  line-height: 24px;
  color-scheme: unset;
  color: unset;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: $color-primary-light;
  text-decoration: inherit;
}

a:hover {
  color: $color-primary-light;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 2;
}

.sort-filter-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 2.5rem;
  position: sticky;
  padding: 10px 0;
  top: 0;
  background-image: linear-gradient(to bottom,
      rgba(252, 253, 239, 1),
      rgba(252, 253, 239, 0.8),
      rgba(252, 253, 239, 0.6),
      rgba(252, 253, 239, 0.4));
  z-index: 1;

  .material-symbols-outlined {
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    z-index: 2;
  }
}

.item-function-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  justify-content: flex-start;
  left: 0;
}

.stack {
  position: relative;
  width: 100%;
  height: 100%;
}

.search-center,
.filter-center,
.sort-center {
  position: absolute;
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.show {
  visibility: visible;
  z-index: 3;
}

.sort-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;

  button {
    background-color: $color-primary;
    padding: 15px 15px;
    height: 36px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
  }

  input {
    padding: 0 !important;
    width: 50% !important;
    border-radius: 15px;
    text-indent: 10px;
    height: 35px;

  }
}

#pastryContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
  gap: 3rem;
  padding-bottom: 2rem;
}

#pastryContainer>article {
  border: 2px solid $color-primary;
  border-radius: 5px;
  padding: 20px;
}

#pastryContainer>article>img {
  width: 38vh;
  height: auto;
}

#pastryContainer>article>h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}


.divider {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  padding-top: 2rem;
}

.divider::before,
.divider::after {
  flex: 1;
  content: '';
  padding: 1px;
  background-color: $color-primary;
  margin: 10px;
}

.order-form {
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
}

#clear-cart {
  color: $color-primary;
}

#order-cart {
  color: $color-primary;
}

.order-hide-element {
  display: none !important;
}

.order-sort-filter-search {
  display: none !important;
}