
// google font
$font-primary: 'Roboto', sans-serif;   


// primary colors
$beige: beige ; 
$green:  rgb(21, 138, 62) ;  
$red:    #7b1a1a ; 
$white:  #ffffff  ;  
  

@function rem($size) {
    @return calc($size / 16) * 1rem;
 } 
 // unroppa 