// google font
$font-primary: 'Roboto', sans-serif;


// primary colors
$beige: #fcfdef;
$green: #04aa44;
$red: #ce0909;
$white: #ffffff;
$color-primary-light: #3d2d3a;
$color-primary: #edc29d;


@function rem($size) {
    @return calc($size / 16) * 1rem;
}