/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

a:hover {
  cursor: pointer;
}

header {
  background-color: green;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}
footer .top-right-footer {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
footer .top-right-footer .social-links {
  display: flex;
}
footer .top-right-footer .social-links img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  padding: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
footer .bottom-left-footer {
  padding: 10px;
  width: 100%;
  display: flex;
}
footer .bottom-left-footer a {
  display: block;
  color: blue;
  text-decoration: underline;
}
footer .bottom-left-footer a:hover {
  outline: 1px solid blue;
  outline-offset: 1px;
  border-radius: 5px;
  background-color: aqua;
}
footer .bottom-left-footer h2 {
  font-size: x-large;
}

@media screen and (min-width: 820px) {
  footer {
    flex-direction: row-reverse;
  }
  footer .top-right-footer {
    border-bottom: transparent;
    border-left: 2px solid rgba(0, 0, 0, 0.1);
  }
  footer .top-right-footer .social-links {
    width: 100%;
    justify-content: space-around;
  }
  footer .top-right-footer .social-links img {
    width: 50px;
    height: 50px;
  }
  footer .bottom-left-footer {
    justify-content: center;
    text-align: center;
  }
}