/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  Remove list styles (bullets/numbers)
  in case you use it with normalize.css
*/
ol, ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #edc29d;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #3d2d3a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

#cart {
  position: fixed;
  top: 50px;
  color: #edc29d;
  background-color: #3d2d3a;
  padding: 20px;
  z-index: 2;
}

#cart > p {
  font-weight: bold;
  color: #f1a45a;
}

label {
  display: block;
  margin-bottom: 12px;
}

label > span {
  color: #ce0909;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.popup {
  width: 50vw;
  height: 50vh;
  background-color: #fcfdef;
  position: fixed;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  line-height: 1.8;
  text-align: center;
}

.total-sum-style {
  color: #3d2d3a;
  font-weight: bold;
}

.send-btn {
  background-color: #04aa44;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.reset-btn {
  background-color: #ce0909;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email] {
  background-color: #edc29d;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3d2d3a;
  border-radius: 50%;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type=radio]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type=radio]:checked:before {
  background-color: #3d2d3a;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3d2d3a;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
}

input[type=checkbox]:checked:before {
  background-color: #3d2d3a;
}

a:hover {
  cursor: pointer;
}

html,
main {
  color: #3d2d3a;
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #fcfdef;
}

:root {
  line-height: 24px;
  color-scheme: unset;
  color: unset;
  text-rendering: optimizeLegibility;
}

a {
  font-weight: 500;
  color: #3d2d3a;
  text-decoration: inherit;
}

a:hover {
  color: #3d2d3a;
}

h1 {
  font-size: 3em;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
  line-height: 2;
}

.sort-btns-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

#pastryContainer {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
  gap: 3rem;
  padding-bottom: 2rem;
}

#pastryContainer > article {
  border: 2px solid #edc29d;
  border-radius: 5px;
  padding: 20px;
}

#pastryContainer > article > img {
  width: 38vh;
  height: auto;
}

#pastryContainer > article > h3 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.divider {
  font-size: 2rem;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
}

.divider::before,
.divider::after {
  flex: 1;
  content: "";
  padding: 1px;
  background-color: #edc29d;
  margin: 10px;
}

.order-form {
  position: relative;
  margin-left: 2rem;
  margin-right: 2rem;
  flex-basis: 100%;
  margin-bottom: 20px;
}

#clear-cart {
  color: #edc29d;
}

#clear-cart {
  color: white;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  background-image: url("/img/header-image.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.name {
  color: #edc29d;
  background-color: #3d2d3a;
  padding: 20px;
  font-size: 2.5em;
}

.navigation-checkbox {
  display: none;
}
.navigation-button {
  background-color: #3d2d3a;
  height: 70px;
  width: 70px;
  position: fixed;
  top: 50px;
  right: 90px;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}
.navigation-background {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  top: 55px;
  right: 95px;
  background-image: radial-gradient(#edc29d, #3d2d3a);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation-nav {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}
.navigation-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.navigation-item {
  margin: 10px;
}
.navigation-link:link, .navigation-link:visited {
  display: inline-block;
  font-size: 25px;
  letter-spacing: 2px;
  padding: 10px 20px;
  color: #3d2d3a;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(90deg, transparent 0%, transparent 50%, #3d2d3a 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation-link:hover, .navigation-link:active {
  background-position: 100%;
  color: #edc29d;
  transform: translateX(10px);
}
.navigation-checkbox:checked ~ .navigation-background {
  transform: scale(80);
}
.navigation-checkbox:checked ~ .navigation-nav {
  opacity: 1;
  width: 100%;
}
.navigation-icon {
  position: relative;
  margin-top: 35px;
}
.navigation-icon, .navigation-icon::before, .navigation-icon::after {
  width: 30px;
  height: 2px;
  background-color: #edc29d;
  display: inline-block;
}
.navigation-icon::before, .navigation-icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation-icon::before {
  top: -8px;
}
.navigation-icon::after {
  top: 8px;
}
.navigation-button:hover .navigation-icon::before {
  top: -10px;
}
.navigation-button:hover .navigation-icon::after {
  top: 10px;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon {
  background-color: transparent;
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation-checkbox:checked + .navigation-button .navigation-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.card {
  padding: 2em;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #edc29d;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #3d2d3a;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.hidden {
  display: none;
}

#cart {
  position: fixed;
  top: 50px;
  color: #edc29d;
  background-color: #3d2d3a;
  padding: 20px;
  z-index: 2;
}

#cart > p {
  font-weight: bold;
  color: #f1a45a;
}

label {
  display: block;
  margin-bottom: 12px;
}

label > span {
  color: #ce0909;
}

.cover {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100vw;
  height: 100vh;
}

.popup {
  width: 50vw;
  height: 50vh;
  background-color: #fcfdef;
  position: fixed;
  padding: 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: auto;
  line-height: 1.8;
  text-align: center;
}

.total-sum-style {
  color: #3d2d3a;
  font-weight: bold;
}

.send-btn {
  background-color: #04aa44;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.reset-btn {
  background-color: #ce0909;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email] {
  background-color: #edc29d;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

input[type=radio] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3d2d3a;
  border-radius: 50%;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type=radio]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
  border-radius: 50%;
}

input[type=radio]:checked:before {
  background-color: #3d2d3a;
}

input[type=checkbox] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 1px solid #3d2d3a;
  outline: none;
  transition: box-shadow 0.3s ease;
}

input[type=checkbox]:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  margin: 20% auto;
}

input[type=checkbox]:checked:before {
  background-color: #3d2d3a;
}

footer {
  bottom: 0;
  width: 100vw;
  border-top: 2px solid #edc29d;
  display: flex;
  flex-direction: column;
}
footer .top-right-footer {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
}
footer .top-right-footer .social-links {
  display: flex;
}
footer .top-right-footer .social-links img {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  padding: 1px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}
footer .bottom-left-footer {
  padding: 10px;
  border-right: 2px solid #edc29d;
  width: 100%;
  display: flex;
}
footer .bottom-left-footer a {
  display: block;
  color: #3d2d3a;
  text-decoration: underline;
}
footer .bottom-left-footer a:hover {
  outline: 1px solid #edc29d;
  outline-offset: 1px;
  border-radius: 5px;
  background-color: #3d2d3a;
  color: #edc29d;
}
footer .bottom-left-footer h2 {
  font-size: x-large;
}

@media screen and (min-width: 820px) {
  footer {
    flex-direction: row-reverse;
  }
  footer .top-right-footer {
    border-bottom: transparent;
  }
  footer .top-right-footer .social-links {
    width: 100%;
    justify-content: space-around;
  }
  footer .top-right-footer .social-links img {
    width: 50px;
    height: 50px;
  }
  footer .bottom-left-footer {
    justify-content: center;
    text-align: center;
  }
}